//========= TYPOGRAPHY ==========//

$base: 16; // Default

@function em($pixels, $context: $base) {
  @return #{$pixels/$context}em
}


html{
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

body {
	font-family: 'myriad-pro', 'Helvetica', Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: normal;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

h1 {
	font-size: em(18);
	letter-spacing: 0.09em;
	font-weight: normal;
	line-height: 1.2;
	@include medium {
		font-size: em(20);
	}
}

h2 {
	font-size: em(18);
	letter-spacing: 0.08em;
	line-height: 1.2;
}

h3 {
	font-size: em(17);
	font-weight: bold;
	letter-spacing: 0.01em;
	margin-bottom: 14px;
}

h4 {
	font-size: em(20);
	font-weight: normal;
	line-height: 1.1;
	margin: 5px 0;
}

h5 {
	font-size: em(28);
	font-weight: normal;
	line-height: 0.9;
	letter-spacing: normal;
}

h6 {
	font-size: em(22);
	font-weight: normal;
	line-height: 1;
	margin: 0;
	letter-spacing: normal;
}

p {
	letter-spacing: 0.02em;
	line-height: 1.4;
	margin: 0;
	strong {
		font-weight: bold;
	}
}

a {
	font-size: em(16);
	color: $brown;
	&:hover {
		text-decoration: none;
	}
}

.green {
	color: $green;
}

a[href^="tel"], a[href^="mailto:"]{
   	font-size: inherit;
}

input {
	font-size: em(13);
	letter-spacing: normal;
}

small {
	font-size: em(10);
	line-height: 11px;
}